@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Rubik+Mono+One&display=swap');

.p1{
font-family: 'Rubik Mono One', sans-serif;
font-size:20px;
font-weight:normal;
line-height:30px;
}

.p2{
    font-family:'Josefin Sans', sans-serif;
    font-size:24px;
    font-weight:bold;
    line-height:36px;
}

.p3{
    font-family:'Indie Flower', cursive;
    font-size:36px;
    font-weight:lighter;
    line-height:54px;
    }